*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0;
}

body{
  font-family: 'Lato', sans-serif;
  color: #434546;
}


html, body{
  background-size: cover;
  background-color: #5D6063;
}


.page{
  margin-top: 3em;
}

.hello-text{
  font-family: 'Comfortaa', sans-serif;
  color: #DDE7E0;
}

.experience{
  list-style: none;
}

.links{
  list-style: none;
  font-size: 4em;
}

.link-gn{
  color: #83B386;
}
